@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600');

/*    GLOBAL DEFAULTS    */

body{
  font-family: 'Open Sans', sans-serif;
}

h1, h5{
  color: white;
  font-size: 1.3em;
}
h1{
  font-weight: bold;
  font-size: 2.4em;
}

p{
  color: #979599;
  font-size: .67em;
  font-weight: 400;
}

a{
  font-size: .5em;
  text-decoration: none;
  transition: .3s;
}
a::after{
  padding-top: 18px;
  padding-left: 1px;
  position: absolute;
  content: url('../images/arrow.png')
}

/*    HEADER / HERO DEFAULTS    */
#hero{
  position: absolute;
}
#product-image{
  margin-top: 24px;
  width: 320px;
  margin-bottom: 22px;
}

#logo{
  max-width: 100%;
  margin-top: 24px;
  margin-bottom: 20px;
}

#hero-text{
  max-width: 100%;
  width: 500px;
}

/*    HERO IMAGE LEVEL 0   */
@media (min-width: 1248px){
  #header-image-1{
    position: relative;
    width: 1800px;
    max-width: 100%;
    height: 710px;
    z-index: -1;
  }
  #header-image-2{
    display: none;
  }
  #header-image-3{
    display: none;
  }
  #header-image-4{
    display: none;
  }
  #header-image-5{
    display: none;
  }
  #header-image-6{
    display: none;
  }
  #header-image-7{
    display: none;
  }

  #product-image{
    margin-top: 24px;
    width: 350px;
  }
}

/*    HERO IMAGE LEVEL 1   */
@media (max-width: 1248px){
  #header-image-1{
    position: relative;
    width: 1248px;
    max-width: 100%;
    z-index: -1;
  }
  #header-image-2{
    display: none;
  }
  #header-image-3{
    display: none;
  }
  #header-image-4{
    display: none;
  }
  #header-image-5{
    display: none;
  }
  #header-image-6{
    display: none;
  }
  #header-image-7{
    display: none;
  }

  #product-image{
    margin-top: 24px;
    width: 320px;
    margin-bottom: 22px;
  }
}

/*    HERO IMAGE LEVEL 2   */
@media (max-width: 1070px){
  #header-image-1{
    display: none;
  }
  #header-image-2{
    display: block;
    max-width: 100%;
    z-index: -1;
  }
  #header-image-3{
    display: none;
  }
  #header-image-4{
    display: none;
  }
  #header-image-5{
    display: none;
  }
  #header-image-6{
    display: none;
  }
  #header-image-7{
    display: none;
  }

  #product-image{
    margin-top: 18px;
    width: 310px;
  }
}

/*    HERO IMAGE LEVEL 3   */
@media (max-width: 910px){
  #header-image-1{
    display: none;
  }
  #header-image-2{
    display: none;
  }
  #header-image-3{
    display: block;
    max-width: 100%;
    z-index: -1;
  }
  #header-image-4{
    display: none;
  }
  #header-image-5{
    display: none;
  }
  #header-image-6{
    display: none;
  }
  #header-image-7{
    display: none;
  }

  #product-image{
    margin-top: 18px;
    width: 295px;
  }
}

/*    HERO IMAGE LEVEL 4   */
@media (max-width: 685px){
  #header-image-1{
    display: none;
  }
  #header-image-2{
    display: none;
  }
  #header-image-3{
    display: none;
  }
  #header-image-4{
    display: block;
    max-width: 100%;
    z-index: -1;
  }
  #header-image-5{
    display: none;
  }
  #header-image-6{
    display: none;
  }
  #header-image-7{
    display: none;
  }

  #product-image{
    margin-top: 18px;
    width: 280px;
  }
}

/*    HERO IMAGE LEVEL 5  */
@media (max-width: 544px){
  #header-image-1{
    display: none;
  }
  #header-image-2{
    display: none;
  }
  #header-image-3{
    display: none;
  }
  #header-image-4{
    display: none;
  }
  #header-image-5{
    display: none;
    display: block;
    max-width: 100%;
    z-index: -1;
  }
  #header-image-6{
    display: none;
  }
  #header-image-7{
    display: none;
  }

  #product-image{
    margin-top: 18px;
    width: 230px;
  }
}

/*    HERO IMAGE LEVEL 6   */
@media (max-width: 410px){
  #header-image-1{
    display: none;
  }
  #header-image-2{
    display: none;
  }
  #header-image-3{
    display: none;
  }
  #header-image-4{
    display: none;
  }
  #header-image-5{
    display: none;
  }
  #header-image-6{
    display: block;

    max-width: 100%;
    z-index: -1;
  }
  #header-image-7{
    display: none;
  }

  #product-image{
    margin-top: 18px;
    width: 220px;
  }
}

/*    HERO IMAGE LEVEL 7   */
@media (max-width: 356px){
  #header-image-1{
    display: none;
  }
  #header-image-2{
    display: none;
  }
  #header-image-3{
    display: none;
  }
  #header-image-4{
    display: none;
  }
  #header-image-5{
    display: none;
  }
  #header-image-6{
    display: none;
  }
  #header-image-7{
    display: block;
    max-width: 100%;
    z-index: -1;
  }

  #product-image{
    margin-top: 18px;
    width: 220px;
  }
}

/*    CONTENT  */
main{
  text-align: center;
  font-size: 1.8em;
  margin-bottom: 20px;
}

#main-container{
  width: 670px;
  max-width: 100%
}

.main-text-wrapper{
  margin-top: 18px;
  padding-left: 18%;
  padding-right: 18%;
}
@media (max-width: 602px){
  .main-text-wrapper{
    padding-left: 12%;
    padding-right: 12%;
  }
}


hr{
  border: 1px solid #DADADA;
}
.hr-wrapper-2{
  width: 460px;
}
@media (max-width: 502px){
  .hr-wrapper-2{
    width: 280px;
  }
}

.promo-item{
  display: inline-block;
  width: 200px;
  margin-right: 24px;
  margin-left: 24px;
  text-align: left;
  padding-top: 22px;

}
.promo-item p{
  font-size: .61em;
}
.promo-item p.heading{
  font-size: .8em;
  margin-bottom: 4px;
  color: #4B474A;
  font-weight: bold;
}

.next-step-item{
  display: inline-block;
  width: 150px;
  margin-right: 24px;
  margin-left: 24px;
  text-align: center;
  padding-top: 22px;

}
.next-step-item img{
  width: 68px;
}
.next-step-item p{
  font-size: .5em;
}
.next-step-item h5{
  font-size: .64em;
  color: #4B474A;
  font-weight: 600;
}
